---
---
@charset "utf-8";

$dark: #1e2124;
$grey: #2b2f33;
$white: #efefef;
$accent-dark: #c0a54d;
$accent: #ddba46;

$title-size: 1.8em;
$title-weight: 500;
$subtitle-size: 1.5em;
$subtitle-weight: 500;
$heading-size: 1.4em;
$heading-weight: 500;
$subheading-size: 1.25em;
$subheading-weight: 500;
$p-size: 1.1em;
$p-weight: 400;

$letter-spacing: 0.15em;
$transition-time-quick: 0.1s;
$transition-time-slow: 0.2s;

$max-width: 100em;

@import 'partials/normalize';
@import 'partials/nav';
@import 'partials/media-queries';
@import 'partials/supports';
@import 'partials/front';
@import 'partials/content';

* {
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $dark;
    color: $white;
    width: 100%;
    min-height: 100%;
}

h1 {
    font-size: $heading-size;
    font-weight: $heading-weight;
}

h2 {
    font-size: $subheading-size;
    font-weight: $subheading-weight;
}

p {
    font-size: $p-size;
    font-weight: $p-weight;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $white;
    &:visited {
        color: $white;
    }
}