---
---
@charset "utf-8";

$dark: #1e2124;
$grey: #37383a;
$light-grey: #2b2f33;
$white: #efefef;
$accent-dark: #c0a54d;
$accent: #ddba46;

$title-size: 1.8em;
$title-weight: 700;
$subtitle-size: 1.5em;
$subtitle-weight: 500;
$heading-size: 1.4em;
$heading-weight: 600;
$subheading-size: 1.25em;
$subheading-weight: 500;
$p-size: 1.1em;
$p-weight: 400;

$letter-spacing: 0.15em;
$transition-time-quick: 0.1s;
$transition-time-slow: 0.2s;

$content-padding: 1em;
$content-padding-large: $content-padding*2;
$content-padding-small: $content-padding/2;

$max-width: 100em;

$mobile-break-width: 70em;

$box-shadow: (-$content-padding-small) (-$content-padding-small) 0px 0px $light-grey;

@import 'partials/normalize';
@import 'partials/animations';
@import 'partials/mixins';
@import 'partials/nav';
@import 'partials/media-queries';
@import 'partials/supports';
@import 'partials/front';
@import 'partials/experience';
@import 'partials/inputs';
@import 'partials/lightbox';
@import 'partials/portfolio';
@import 'partials/subportfolio';
@import 'partials/overlay';
@import 'partials/content';

* {
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $dark;
    color: $white;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: $heading-size;
    font-weight: $heading-weight;
}

h2 {
    font-size: $subheading-size;
    font-weight: $subheading-weight;
}

p {
    font-size: $p-size;
    font-weight: $p-weight;
}

img {
    max-width: 100%;
}