@keyframes fadeinAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes showAnim {
  0% {
    opacity: 0;

  }

  3% {
    opacity: 100;
  }

  34% {
    opacity: 100;
  }

  37% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}