$portfolio-item-clip-path: polygon(0% $content-padding-large, $content-padding-large 0%, 100% 0, 100% 100%, 0 100%);
$portfolio-content-clip-path: polygon(0% $content-padding-large, $content-padding-large 0%, 100% 0, 100% 100%, 0 100%);
$portfolio-image-clip-path: polygon(0% $content-padding, $content-padding 0%, 100% 0, 100% 100%, 0 100%);
$box-shadow: (-$content-padding-small) (-$content-padding-small) 0px 0px $light-grey;

.content {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    width: 100%;
    max-width: $max-width;
}

.box-shadow {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

.main {
    display: flex;
    flex: 1 auto;
    flex-direction: row;
    padding: $content-padding;
    .column {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: $content-padding;
        .main-image {
            top: $content-padding-large;
            position: -webkit-sticky;
            position: sticky;
        }
        .header {
            padding: $content-padding;
            background: $grey;
            text-align: center;
            h1 {
                font-size: $heading-size;
                font-weight: $heading-weight;
                letter-spacing: $letter-spacing*2;
                text-transform: uppercase;
                margin: 0.25em 0;
                padding-bottom: 0.5em;
                border-bottom: 0.1em $white solid;
            }
        }
        .column-content {
            padding: $content-padding 0;
        }
        .column-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $content-padding;
        }
    }
}

.link-large {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    background: $grey;
    padding: $content-padding $content-padding-large;
    transition: box-shadow $transition-time-slow ease-in-out;
    &.box-shadow:hover  {
        box-shadow: none;
    }
}

.portfolio-grid {
    display: flex;
    flex-direction: row;
    .portfolio-item {
        display: block;
        flex: 1 auto;
        width: 50%;
        margin: $content-padding;
        background: $light-grey;
        padding: 0.5em 0 0 0.5em;
        -webkit-clip-path: $portfolio-item-clip-path;
        clip-path: $portfolio-item-clip-path;
        .portfolio-content {
            background: $grey;
            padding: $content-padding;
            -webkit-clip-path: $portfolio-content-clip-path;
            clip-path: $portfolio-content-clip-path;
            .portfolio-image {
                height: 25vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                -webkit-clip-path: $portfolio-image-clip-path;
                clip-path: $portfolio-image-clip-path;
            }
            .portfolio-title {
                text-align: center;
                text-transform: uppercase;
                p {
                    margin: 0.75em 0 0 0;
                }
            }
        }
    }
}

.subportfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $content-padding;
    .subportfolio-item {
        flex: 1;   
        overflow: hidden;
        position: relative;
        height: 20em;
        cursor: pointer;
        img {
            max-width: 100%;
            z-index: 1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            backface-visibility: hidden;
        }
    }   
}

.experience-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    .project {
        display: flex;
        flex-direction: row;
        padding: $content-padding;
        margin-bottom: $content-padding;
        background: $grey;
        min-height: 6em;
        .project-logo {
            width: 10em;
        }
        p {
            margin: 0;
        }
        .project-title {
            letter-spacing: $letter-spacing;
            text-transform: uppercase;
            padding: $content-padding-small $content-padding;
        }
        .project-desc {
            text-transform: uppercase;
            background: $light-grey;
            padding: $content-padding-small $content-padding;
            flex: 1;
        }
    }
}