.front-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    //max-width: $max-width;
    min-height: 100vh;
    @include fadein;
    .front-menu-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        //justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        max-width: $max-width;
    }
    .front-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: $letter-spacing*8;
        padding: $content-padding;
        h1 {
            font-size: $title-size;
            font-weight: $title-weight;
            padding-bottom: 0.5em;
            border-bottom: 0.1em $white solid;
            margin-bottom: 0;
        }
        h2 {
            font-size: $subtitle-size;
            font-weight: $subtitle-weight;
        }
    }
    .front-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        position: relative;
        width: 70%;
        margin-top: 10vh;
        .front-section {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: center;
            width: 100%;
            position: relative;
            -webkit-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            -o-transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                position: relative;
            }
            .section-name {
                z-index: 10;
                position: absolute;
                font-size: $subheading-size;
                font-weight: 600;
                margin: 0;
                letter-spacing: $letter-spacing*2;
                text-transform: uppercase;
            }
            img {
                -webkit-filter: contrast(80%) brightness(80%);
                        filter: contrast(80%) brightness(80%);
                -webkit-transition: -webkit-filter $transition-time-slow ease-in-out;
                transition: -webkit-filter $transition-time-slow ease-in-out;
                -o-transition: filter $transition-time-slow ease-in-out;
                transition: filter $transition-time-slow ease-in-out;
                transition: filter $transition-time-slow ease-in-out, -webkit-filter $transition-time-slow ease-in-out;
            }
        }
        .about-box {
            position: absolute;
            display: none;
            width: 50%;
            height: 72%;
            background: $grey;
            z-index: 10;
            margin: 2em 4em;
            top: 0;
            left: 0;
        }
    }
}

.about-title {
    letter-spacing: $letter-spacing*2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $subheading-size;
}

#overlay-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
}

.mobile-about-button {
    display: none;
}