a {
    text-decoration: none;
    color: $white;
    &:visited {
        color: $white;
    }
}

.link-large {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    background: $light-grey;
    padding: $content-padding $content-padding-large;
    transition: box-shadow $transition-time-slow ease-in-out;
    &.box-shadow:hover  {
        box-shadow: none;
    }
}