/*#bp_container {
    #bp_caption span {
        font-size: $subheading-size;
        font-weight: $subheading-weight;
    }
    .bp-lr {
        .slider-button {
            .slider-arrow {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                border: solid $white;
                border-width: 0 .4em .4em 0;
                display: inline-block;
                padding: .6em;
            }
        }
    }
}*/


.lg {
    .lg-sub-html h4{
        font-size: $subheading-size;
        font-weight: $subheading-weight;
        padding: $content-padding-small;
    }
}