/*#bp_container {
    #bp_caption span {
        font-size: $subheading-size;
        font-weight: $subheading-weight;
    }
    .bp-lr {
        .slider-button {
            .slider-arrow {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                border: solid $white;
                border-width: 0 .4em .4em 0;
                display: inline-block;
                padding: .6em;
            }
        }
    }
}*/


.lg {
    .lg-sub-html h4{
        font-size: $subheading-size;
        font-weight: $subheading-weight;
        padding: $content-padding-small;
    }
    .lg-toolbar.group {
        background-color: transparent;
        .lg-close.lg-icon {
            font-size: 2.5em;
            margin-top: 0.5em;
            margin-right: 0.5em;
            background-color: rgba(54, 54, 54, 0.61);
        }
    }
    .lg-item {
        .lg-video-cont {
            width: 80%;
            max-width: 80% !important;
        }
    }
    .lg-actions {
        .lg-prev, .lg-next {
            &.lg-icon {
                border-radius: 50%;
                padding: 1em;
                .lg-arrow {
                    position: relative;
                    border: solid $white;
                    border-width: 0 .2em .2em 0;
                    display: inline-block;
                    padding: .4em;
                }
            }
        }
        .lg-next {
            right: $content-padding;
            .lg-arrow {
                right: 25%;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
        .lg-prev {
            left: $content-padding;
            .lg-arrow {
                left: 25%;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
        }
    }
}