@media screen and (max-width: $mobile-break-width) { 
    body {
        .content {
            nav ul {
                flex-direction: column;
            }
            .main {
                flex-direction: column;
            }
            .experience-list {
                .project {
                    flex-direction: column;
                    .project-logo {
                        width: 100%;
                        height: initial;
                    }
                }
            }
            .subportfolio-grid {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        .front-container {
            .front-header {
                padding: 1em;
            }
            .front-menu {
                flex-direction: column;
                width: 100%;
                padding: 1em;
                .front-section {
                    width: 100%;
                    clip-path: none;
                    -webkit-clip-path: none;
                    position: initial;
                    .section-name {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-break-width) { 
    body {
        .main {
            flex-direction: column;
            .portfolio-grid {
                flex-direction: column;
                .portfolio-item {
                    width: initial;
                }
            }
        }
    }
}