@media screen and (min-width: $mobile-break-width) { 
    body {
        .content {
            .main {
                .column {
                    .main-image {
                        height: 100%;
                        width: 100%;
                        img {
                            max-width: initial;
                            height: 100vh;
                            z-index: 5;
                            position: fixed;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-break-width) { 
    body {
        &.menu-active {
            overflow: hidden;
            #overlay {
                display: block;
                visibility: visible;
            }
        }
        #overlay-button {
            display: block;
        }
        #nav {
            -webkit-box-shadow: 0px -6px 32px 9px rgba(0,0,0,0.6);
            -moz-box-shadow: 0px -6px 32px 9px rgba(0,0,0,0.6);
            box-shadow: 0px -6px 32px 9px rgba(0,0,0,0.6);
            ul {
                display: none;
            }
        }
        .content {
            .main {
                flex-direction: column;
            }
            .main {
                flex-direction: column;
                .column {
                    padding: 0;
                    padding-bottom: $content-padding-large;
                }
                .experience-list {
                    .project {
                        flex-direction: column;
                        .project-title {
                            padding: $content-padding;
                        }
                        .project-desc {
                            padding: $content-padding;
                        }
                        .project-logo {
                            width: 100%;
                            height: initial;
                        }
                    }
                }
                .portfolio-grid {
                    grid-template-columns: repeat(1, 1fr);
                }
                .subportfolio-grid {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
        .front-container {
            .front-header {
                padding: $content-padding;
            }
            .front-menu {
                flex-direction: column;
                width: 100%;
                padding: $content-padding;
                margin-top: $content-padding;
                .front-section {
                    width: 100%;
                    clip-path: none;
                    -webkit-clip-path: none;
                    position: initial;
                    .section-name {
                        margin: 0;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-break-width/2) { 
    body {
        #overlay-button {
            padding: 1.3em 0.5em;
        }
        #overlay-title {
            left: 0;
            padding: 0.4em 0.5em;
        }
        #nav {
            height: 3em;
            ul {
                display: none;
            }
        }
        .front-container {
            .front-header {
                letter-spacing: 0.2em;
            }
        }
        .subportfolio-grid {
            padding: 0;
        }
        .content {
            .portfolio-item {
                margin: 0;
            }
            nav ul {
                flex-direction: column;
            }
            .main {
                .subportfolio-grid {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}