@media screen and (max-width: 58em) { 
    body {
        .content {
            .main {
                flex-direction: column;
            }
        }
        .front-container {
            .front-header {
                padding: 1em;
            }
            .front-menu {
                flex-direction: column;
                width: 100%;
                padding: 1em;
                .front-section {
                    width: 100%;
                    clip-path: none;
                    -webkit-clip-path: none;
                    position: initial;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}