nav {
    background: $dark;
    //position: fixed;
    height: 2.5em;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    .nav-content {
        position: relative;
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            margin: 0;
            list-style: none;
            padding: 0;
            padding-right: 1.5em;
            li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                text-transform: uppercase;
                a {
                    padding: 0.75em 1em;
                    color: $white;
                    text-decoration: none;
                    letter-spacing: $letter-spacing;
                    -webkit-transition: color $transition-time-quick ease-in-out;
                    -o-transition: color $transition-time-quick ease-in-out;
                    transition: color $transition-time-quick ease-in-out;
                    font-size: $nav-link-size;
                    font-weight: $p-weight;
                    &.active {
                        color: $accent;
                    }
                    &:hover {
                        color: $accent-dark;
                    }
                }
            }
        }
    }
}