body {
  &.menu-active {
    overflow: hidden;
    height: 100%;
    #overlay {
   
        display: block;
        visibility: visible;
        opacity: 100;
    }
    #overlay-button.mobile-about-button {
        display: block;
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: $dark;
  z-index: 20;
  visibility: hidden;
  position: fixed;
  border: none;
  opacity: 0;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size:  $subheading-size;
        font-weight: $heading-weight;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &:hover {
          color: $accent-dark;
        }
        &.active {
          color: $accent;
        }
      }
    }
  }
}
      
#overlay-title {
  position: absolute;
  left: 1em;
  top: 0;
  font-size: $heading-size;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 0.5em;
  z-index: 25;
  letter-spacing: 0.1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#overlay-button {
  position: fixed;
  right: $content-padding-small;
  top: 0;
  padding: 1.1em 0.5em;
  z-index: 25;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  span {
    height: 3px;
    width: 35px;
    background-color: $white;
    position: relative;
    display: block;
    border: none;
    -webkit-appearance: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:before {
      top: -10px;
      visibility: visible;
    }
    &:after {
      top: 10px;
    }
    &:before, &:after {
      height: 3px;
      width: 35px;
      left: 0;
      background-color: $white;
      position: absolute;
      content: "";
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
  }
}

.menu-active {
  #overlay-button {
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        -webkit-transform: rotate(45deg) translate(7px, 7px);
            -ms-transform: rotate(45deg) translate(7px, 7px);
                transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        -webkit-transform: rotate(-45deg) translate(7px, -7px);
            -ms-transform: rotate(-45deg) translate(7px, -7px);
                transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}