$portfolio-item-clip-path: polygon(0% $content-padding-large, $content-padding-large 0%, 100% 0, 100% 100%, 0 100%);
$portfolio-content-clip-path: polygon(0% $content-padding-large, $content-padding-large 0%, 100% 0, 100% 100%, 0 100%);
$portfolio-image-clip-path: polygon(0% $content-padding, $content-padding 0%, 100% 0, 100% 100%, 0 100%);

.portfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: $content-padding-large;
    grid-row-gap: $content-padding-large;
    -webkit-column-gap: $content-padding;
            column-gap: $content-padding;
    grid-column-gap: $content-padding;
    .portfolio-item {
        display: block;
        -webkit-box-flex: 1;
            -ms-flex: 1 auto;
                flex: 1 auto;
        margin: 0 $content-padding-small;
        background: $grey;
        padding: 0.5em 0 0 0.5em;
        -webkit-clip-path: $portfolio-item-clip-path;
        clip-path: $portfolio-item-clip-path;
        .portfolio-content {
            background: $light-grey;
            padding: $content-padding;
            -webkit-clip-path: $portfolio-content-clip-path;
            clip-path: $portfolio-content-clip-path;
            .portfolio-image {
                height: 25vh;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                -webkit-clip-path: $portfolio-image-clip-path;
                clip-path: $portfolio-image-clip-path;
            }
            .portfolio-title {
                text-align: center;
                text-transform: uppercase;
                p {
                    letter-spacing: 0.05em;
                    margin: 0.75em 0 0 0;
                }
            }
        }
    }
}