.subportfolio-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: $content-padding;
    grid-row-gap: $content-padding;
    -webkit-column-gap: $content-padding;
            column-gap: $content-padding;
    grid-column-gap: $content-padding;
    padding: $content-padding;
    .subportfolio-item {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;   
        overflow: hidden;
        position: relative;
        height: 20em;
        cursor: pointer;
        margin: $content-padding-small;
        img {
            max-width: 100%;
            z-index: 1;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
        }
    }   
}