$front-spacing-large: 2em;
$front-spacing-small: $front-spacing-large / 2;
$front-spacing-xsmall: $front-spacing-small / 2;

@supports ((clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)) or (-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%))) and (object-fit: cover) {
    @media screen and (min-width: $mobile-break-width) {
        body .front-container {
            overflow: hidden;
            .front-menu {
                height: 50vh;
                transition: width $transition-time-slow ease-in-out;
                .front-section {
                    display: block;
                    justify-content: initial;
                    align-items: initial;
                    position: absolute;
                    height: 100%;
                    pointer-events: none;
                    a {
                        pointer-events: auto;
                    }
                    .img {
                        position: absolute;
                        height: 100%;
                        background: $light-grey;
                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .border-outer {
                        position: absolute;
                        background: $grey;
                    }
                    .border-inner {
                        position: absolute;
                        background: $light-grey;
                    }
                    .section-name {
                        position: absolute;
                        text-align: center;
                    }
                    &.triangle-top {
                        .border-outer {
                            top: -3em;
                            left: $front-spacing-small;
                            width: calc(100% - 2em);
                            height: $front-spacing-large;
                        }
                        .border-inner {
                            top: -1em;
                            left: $front-spacing-small;
                            width: calc(100% - 2em);
                            height: 1em;
                            -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - #{$front-spacing-small}) 100%, $front-spacing-small 100%);
                            clip-path: polygon(0 0, 100% 0, calc(100% - #{$front-spacing-small}) 100%, $front-spacing-small 100%)
                        }
                        .img {
                            -webkit-clip-path: polygon(50% 45%, $front-spacing-large 0, calc(100% - #{$front-spacing-large}) 0);
                            clip-path: polygon(50% 45%, $front-spacing-large 0, calc(100% - #{$front-spacing-large}) 0);
                        }
                        .section-name {
                            top: 15%;
                            width: 100%;
                        }
                        &:hover {
                            .section-name {
                                display: none;
                            }
                            .about-box {
                                display: block;
                            }
                        }
                    }
                    &.triangle-bottom {
                        .border-outer {
                            bottom: -3em;
                            left: $front-spacing-small;
                            width: calc(100% - #{$front-spacing-large});
                            height: 2em;
                        }
                        .border-inner {
                            bottom: -1em;
                            left: $front-spacing-small;
                            width: calc(100% - #{$front-spacing-large});
                            height: 1em;
                            -webkit-clip-path: polygon(#{$front-spacing-small} 0, calc(100% - #{$front-spacing-small}) 0, 100% 100%, 0% 100%);
                            clip-path: polygon(#{$front-spacing-small} 0, calc(100% - #{$front-spacing-small}) 0, 100% 100%, 0% 100%);
                        }
                        .img {
                            -webkit-clip-path: polygon(50% 55%,$front-spacing-large 100%, calc(100% - #{$front-spacing-large}) 100%);
                            clip-path: polygon(50% 55%,$front-spacing-large 100%, calc(100% - #{$front-spacing-large}) 100%);
                        }
                        .section-name {
                            bottom: 15%;
                            width: 100%;
                        }
                        &:hover{
                            .section-name {
                                bottom: -12%;
                            }
                        }
                    }
                    &.triangle-left {
                        .border-outer {
                            top: 2em;
                            left: -3em;
                            width: 2em;
                            height: calc(100% - 4em);
                        }
                        .border-inner {
                            top: 2em;
                            left: -1em;
                            width: 1em;
                            height: calc(100% - 4em);
                            -webkit-clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
                            clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
                        }
                        .img {
                            -webkit-clip-path: polygon(45% 50%, 0 calc(2% + 2em), 0 calc(98% - 2em));
                            clip-path: polygon(45% 50%, 0 calc(2% + 2em), 0 calc(98% - 2em));
                        }
                        .section-name {
                            top: 50%;
                            left: 10%;
                        }
                        &:hover{
                            .section-name {
                                left: -18%;
                            }
                        }
                    }
                    &.triangle-right {
                        .border-outer {
                            top: 2em;
                            right: -3em;
                            width: 2em;
                            height: calc(100% - 4em);
                        }
                        .border-inner {
                            top: 2em;
                            right: -1em;
                            width: 1em;
                            height: calc(100% - 4em);
                            -webkit-clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
                            clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);
                        }
                        .img {
                            -webkit-clip-path: polygon(55% 50%, 100% calc(98% - 2em), 100% calc(2% + 2em));
                            clip-path: polygon(55% 50%, 100% calc(98% - 2em), 100% calc(2% + 2em));
                        }
                        .section-name {
                            top: 50%;
                            right: 10%;
                        }
                        &:hover{
                            .img {
                                right: 0;
                            }
                            .section-name {
                                right: -22%;
                            }
                        }
                    }
                    &:hover {
                        z-index: 15;
                        img {
                            filter: contrast(100%) brightness(100%);
                        }
                        .img {
                            clip-path: none;
                        }
                        .section-name{
                            z-index: 20;
                        }
                    }
                }
            }
        }
    }
}