@supports (-ms-ime-align: auto) {
    body .front-container {
         .front-menu {
             .front-section:hover {
                 &.triangle-top p {
                     margin-top: -15%;
                 }
                 &.triangle-bottom p {
                     margin-top: 15%;
                 }
                 &.triangle-left p {
                     margin: 0 0 0 -25%;
                 }
                 &.triangle-right p {
                     margin: 0 0 0 25%;
                 }
             }
         }
     }
   }