$triangle-outer-edge: calc(100% - 2em);
$triangle-inner-edge: 2em;

@supports not(-ms-ime-align: auto) {
    @media screen and (min-width: $mobile-break-width) {
        .front-container {
            .front-menu {
                .front-section {
                    &:hover {
                        z-index: 5;
                        -webkit-clip-path:polygon(5% 0, 95% 0, 95% 95%, 5% 95%);
                        clip-path: polygon(5% 0, 95% 0, 95% 95%, 5% 95%);
                        img {
                            filter: contrast(100%) brightness(100%);
                        }
                        &.triangle-top {
                            -webkit-clip-path: polygon($triangle-inner-edge 0, $triangle-outer-edge 0, $triangle-outer-edge calc(92% - 2em), $triangle-inner-edge calc(92% - 2em));
                            clip-path: polygon($triangle-inner-edge 0, $triangle-outer-edge 0, $triangle-outer-edge calc(92% - 2em), $triangle-inner-edge calc(92% - 2em));
                            .section-name {
                                display: none;
                            }
                            &:hover .about-box {
                                opacity: 100;
                            }
                        }
                        &.triangle-bottom {
                            -webkit-clip-path: polygon($triangle-inner-edge calc(6% + 2em), $triangle-outer-edge calc(6% + 2em), $triangle-outer-edge 200%, $triangle-inner-edge 200%);
                            clip-path: polygon($triangle-inner-edge calc(6% + 2em), $triangle-outer-edge calc(6% + 2em), $triangle-outer-edge 200%, $triangle-inner-edge 200%);
                            .section-name {
                                bottom: -3em;
                            }
                        }
                        &.triangle-left {
                            -webkit-clip-path: polygon(-100% $triangle-inner-edge, $triangle-outer-edge $triangle-inner-edge, $triangle-outer-edge $triangle-outer-edge, -100% $triangle-outer-edge);
                            clip-path: polygon(-100% $triangle-inner-edge, $triangle-outer-edge $triangle-inner-edge, $triangle-outer-edge $triangle-outer-edge, -100% $triangle-outer-edge);
                            .section-name {
                                left: -8em;
                            }
                        }
                        &.triangle-right {
                            -webkit-clip-path: polygon($triangle-inner-edge $triangle-inner-edge, 200% $triangle-inner-edge, 200% $triangle-outer-edge, $triangle-inner-edge $triangle-outer-edge);
                            clip-path: polygon($triangle-inner-edge $triangle-inner-edge, 200% $triangle-inner-edge, 200% $triangle-outer-edge, $triangle-inner-edge $triangle-outer-edge);
                            .section-name {
                                right: -10em;
                            }
                        }
                    }
                }
                .triangle-top {
                    -webkit-clip-path: polygon(50% 40%, 5% 0, 95% 0);
                    clip-path: polygon(50% 40%, 5% 0, 95% 0);
                    a {
                        border-top: solid 2em $grey;
                    }
                    .section-name {
                        top: 15%;
                    }
                }
                .triangle-bottom {
                    top: -3em;
                    -webkit-clip-path: polygon(50% 60%,5% 100%,95% 100%);
                    clip-path: polygon(50% 60%,5% 100%,95% 100%);
                    a {
                        border-bottom: solid 2em $grey;
                    }
                    .section-name {
                        bottom: 15%;
                    }
                }
                .triangle-left {
                    -webkit-clip-path: polygon(45% 50%, 0 5%, 0 95%);
                    clip-path: polygon(45% 50%, 0 5%, 0 95%);
                    a {
                        border-left: solid 2em $grey;
                    }
                    .section-name {
                        left: 10%;
                    }
                }
                .triangle-right {
                    -webkit-clip-path: polygon(55% 50%, 100% 95%, 100% 5%);
                    clip-path: polygon(55% 50%, 100% 95%, 100% 5%);
                    a {
                        border-right: solid 2em $grey;
                    }
                    .section-name {
                        right: 10%;
                    }
                }
            }
        }
    }
}

@supports (-ms-ime-align: auto) {
    body {
        .front-container {
            .front-menu {
                flex-direction: column;
                .front-section {
                    width: 100%;
                    position: relative;
                    .section-name {
                        margin: 0;
                    }
                }
            }
        }
    }
}