---
layout: base
---
<nav id="nav">
    <div class="nav-content">
        <a id="overlay-title" href="/">Kiel Frampton</a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="/contact" class="active">Contact</a>
            </li>
            <li>
                <a href="/experience">Experience</a>
            </li>
        </ul>
    </div>
</nav>
<div id="overlay">
    <ul>
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="/portfolio">Portfolio</a>
        </li>
        <li>
        <a href="/contact" class="active">Contact</a>
        </li>
        <li>
        <a href="/experience">Experience</a>
        </li>
    </ul>
</div>
<div id="overlay-button">
    <span></span>
</div>
<section class="main">
    <div class="column">
        <div class="header">
            <h1>{{ page.title }} </h1>
        </div>
        <div class="column-content">
            <p>{{ page.contact_text }}</p>
        </div>
    </div>
    <div class="column">
        <div class="main-image">
            <img src="{{ page.image }}" alt="">
        </div>
    </div>
</section>