---
layout: base
---
<nav id="nav">
    <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/experience" class="active">Experience</a>
        </li>
    </ul>
</nav>
<div id="overlay">
    <ul>
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="/portfolio">Portfolio</a>
        </li>
        <li>
        <a href="/contact">Contact</a>
        </li>
        <li>
        <a href="/experience" class="active">Experience</a>
        </li>
    </ul>
</div>
<div id="overlay-button">
    <span></span>
</div>
<section class="main">
    <div class="column">
        <div class="header">
            <h1>{{ page.title }} </h1>
        </div>
        <div class="column-content">
            <ul class="experience-list">
                {% for project in page.projects %}
                <li class="project">
                    <div class="project-logo">
                        {% if project.logo %}
                            <img src="{{ project.logo }}">
                        {% endif %}
                    </div>
                    <p class="project-title">{{ project.title }}</p>
                    <p class="project-desc">{{ project.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="main-image">
            <img src="{{ page.image }}" alt="">
        </div>
    </div>
</section>