---
layout: base
---
<nav>
    <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/experience" class="active">Experience</a>
        </li>
    </ul>
</nav>
<section class="main">
    <div class="column">
        <div class="header">
            <h1>{{ page.title }} </h1>
        </div>
        <div class="column-content">
            <ul class="experience-list">
                {% for project in page.projects %}
                <li class="project">
                    {% if project.logo %}
                        <img class="project-logo" src="{{ project.logo }}">
                    {% endif %}
                        <p>{{ project.title }}</p>
                        <p>{{ project.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="column">
        <div>
            <img src="{{ page.image }}" alt="">
        </div>
    </div>
</section>