---
layout: default
---
<div id="overlay">
    <div id="overlay-about">
        <p class="about-title">About</p>
        <p>{{ page.about_text }}</p>
    </div>
</div>
<div id="overlay-button" class="mobile-about-button">
    <span></span>
</div>
<div class="front-container">
    <div class="front-header">
        <h1>{{ page.page_title }}</h1>
        <h2>{{ page.heading }}</h2>
    </div>
    <div class="front-menu-container">
        <section class="front-menu">
            <div class="front-section triangle-top">
                <a class="border-outer"></a>
                <a class="border-inner"></a>
                <div class="about-box">
                    <p class="about-title">About</p>
                    <p>{{ page.about_text }}</p>
                </div>
                <p class="section-name">About</p>
                <a class="img">
                    <img src="{{ page.about_image }}" alt="">
                </a>
            </div>
            <div class="front-section triangle-right">
                <a href="/experience" class="border-outer"></a>
                <a href="/experience" class="border-inner"></a>
                <p href="/experience" class="section-name">Experience</p>
                <a href="/experience" class="img">
                    <img src="{{ page.experience_image }}" alt="">
                </a>
            </div>
            <div class="front-section triangle-bottom">
                <a href="/portfolio" class="border-outer"></a>
                <a href="/portfolio" class="border-inner"></a>
                <p href="/portfolio" class="section-name">Portfolio</p>
                <a href="/portfolio" class="img">
                    <img src="{{ page.portfolio_image }}" alt="">
                </a>
            </div>
            <div class="front-section triangle-left">
                <a href="/contact" class="border-outer"></a>
                <a href="/contact" class="border-inner"></a>
                <p href="/contact" class="section-name">Contact</p>
                <a href="/contact" class="img">
                    <img src="{{ page.contact_image }}" alt="">
                </a>
            </div>
        </section>
    </div>
</div>
