---
layout: base
---
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio">Portfolio</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/experience">Experience</a>
          </li>
    </ul>
</nav>
<section class="main">
    <div class="subportfolio-grid">
        {% for piece in page.portfolio_piece %}
            <div class="subportfolio-item box-shadow" 
                data-is-youtube="{{ piece.is_youtube }}" 
                {% if piece.youtube_link %}
                    data-youtube="{{ piece.youtube_link }}" 
                {% endif %}
                data-bp="{{ piece.image }}" 
                data-caption="{{ piece.title }}">
                {% if piece.image %}
                    <img src="{{ piece.image }}" alt="{{ piece.title }}">
                {% else %}
                    {% assign youtubeThumbnail = "https://img.youtube.com/vi/" | append: piece.youtube_link | append: "/hqdefault.jpg" %}
                    <img src="{{ youtubeThumbnail }}" alt="{{ piece.title }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script src="/js/BigPicture.js"></script>
    <script src="/js/portfolio.js"></script>
<section>