---
layout: base
---
<nav id="nav">
    <div class="nav-content">
        <a id="overlay-title" href="/">Kiel Frampton</a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/portfolio">Portfolio</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/experience">Experience</a>
            </li>
        </ul>
    </div>
</nav>
<div id="overlay">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="/experience">Experience</a>
        </li>
    </ul>
</div>
<div id="overlay-button">
    <span></span>
</div>
<section class="main subportfolio">
    <div class="subportfolio-actions">
        <a href="/portfolio" class="back-button link-large box-shadow">Back to categories</a>
        <h1 class="subportfolio-title">{{ page.title }}</h1>
    </div>
    <div class="subportfolio-grid">
        {% for piece in page.portfolio_piece %}
        <a class="subportfolio-item box-shadow" data-is-youtube="{{ piece.is_youtube }}" {% if piece.youtube_link %}
            href="{{ piece.youtube_link }}" {% else %} href="{{ piece.image }}" {% endif %} data-sub-html=".caption">
            {% if piece.image %}
            <img src="{{ piece.image }}" alt="{{ piece.title }}">
            {% else %}
            {% assign id = piece.youtube_link | split: '?v=' %}
            {% assign youtubeThumbnail = "https://img.youtube.com/vi/" | append:  id[1] | append: "/hqdefault.jpg" %}
            <img src="{{ youtubeThumbnail }}" alt="{{ piece.title }}">
            {% endif %}
            <div class="caption">
                <h4>{{ piece.title }}</h4>
            </div>
        </a>
        {% endfor %}
    </div>
    <script src="/js/lightgallery.min.js"></script>
    <!-- lightgallery plugins -->
    <script src="/js/lg-video.min.js"></script>
    <section>