---
layout: base
---
<nav>
    <ul>
        <li>
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
        <a href="/experience" class="active">Experience</a>
        </li>
    </ul>
</nav>
<section class="main">
    <div class="subportfolio-grid">
        {% for piece in page.portfolio_piece %}
            <div class="subportfolio-item">
                <p>{{ piece.title }}</p>
                {% if piece.image %}
                    <img src="{{ piece.image }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
<section>