---
layout: base
artstation_link: http://www.artstation.com
---
<nav id="nav">
    <div class="nav-content">
        <a id="overlay-title" href="/">Kiel Frampton</a>
        <ul>
            <li>
                <a href="/">Home</a>
                </li>
                <li>
                <a href="/portfolio" class="active">Portfolio</a>
                </li>
                <li>
                <a href="/contact">Contact</a>
                </li>
                <li>
                <a href="/experience">Experience</a>
                </li>
        </ul>
    </div>
</nav>
<div id="overlay">
    <ul>
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="/portfolio" class="active">Portfolio</a>
        </li>
        <li>
        <a href="/contact">Contact</a>
        </li>
        <li>
        <a href="/experience">Experience</a>
        </li>
    </ul>
</div>
<div id="overlay-button">
    <span></span>
</div>
<section class="main">
    <div class="column">
        <div class="column-content portfolio-container">
            <div class="portfolio-grid">
                {% for portfolio in site.portfolio %}
                    <a class="portfolio-item" href="{{ portfolio.url }}">
                        <div class="portfolio-content">
                            <div class="portfolio-image"  style="background-image: url('{{ site.baseurl }}{{ portfolio.image }}');"></div>
                            <div class="portfolio-title">
                                <p>{{ portfolio.title }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="column-footer">
            <a class="link-large box-shadow" href="{{ page.artstation_link }}">More on artstation</a>
        </div>
    </div>
    <div class="column">
        <div class="main-image portfolio-images">
            {% if page.image_1 %}
                <img id="featured-image-1" class="featured-image" src="{{ page.image_1 }}" alt="">
            {% endif %}
            {% if page.image_2 %}
                <img id="featured-image-2" class="featured-image" src="{{ page.image_2 }}" alt="">
            {% endif %}
            {% if page.image_3 %}
                <img id="featured-image-3" class="featured-image" src="{{ page.image_3 }}" alt="">
            {% endif %}
        </div>
    </div>
</section>